<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shanzhu.beadhouse.dao.mapper.ElderStaffAssignmentMapper">
    <insert id="upsertAssignment">
        INSERT INTO elder_staff_assignment
            (elder_id, staff_id, active, create_id, create_time, update_id, update_time)
        VALUES
            (#{elderId}, #{staffId}, 'Y', #{operatorId}, NOW(), #{operatorId}, NOW())
        ON DUPLICATE KEY UPDATE active = 'Y', update_id = VALUES(update_id), update_time = NOW()
    </insert>
</mapper>
